<div class="observation-container">
  <h1>Additional Observation Data</h1>

  <%= form_for(@observation_add, url: "/observations/create_data") do |f| %>
    <% if @observation_add.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@observation_add.errors.count, "error") %> prohibited this observation from being saved:</h2>
        <ul>
        <% @observation_add.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= f.hidden_field :id %>
    </div>
    <div class="map-container">
      <p>Enter in any additional observations you've made for this location. All fields are optional!</p>
    </div>
    <div class="other-form-fields-container">

      <div class="field">
        <h2>I've spotted Wildlife</h2>
        <%= f.fields_for @bools_attributes do |bools_form| %>
        <%= bools_form.check_box :mammal %>
        <%= bools_form.label :mammal, "Mammal" %>
        
        <a href=<%= mammal_path %> class="info">?</a>

        <%= bools_form.check_box :reptile %>
        <%= bools_form.label :reptile, "Reptile" %>
        <a href=<%= reptile_path %> class="info">?</a>

        <%= bools_form.check_box :amphibian %>
        <%= bools_form.label :amphibian, "Amphibian" %>
        <a href=<%= amphibian_path %> class="info">?</a>

        <%= bools_form.check_box :fish %>
        <%= bools_form.label :fish, "Fish" %>
        <a href=<%= fish_path %> class="info">?</a>

        <%= bools_form.check_box :plant %>
        <%= bools_form.label :plant, "Plant" %>
        <a href=<%= plant_path %> class="info">?</a>

        <%= bools_form.check_box :insect %>
        <%= bools_form.label :insect, "Insect" %>
        <a href=<%= insect_path %> class="info">?</a>

        <%= bools_form.check_box :bird %>
        <%= bools_form.label :bird, "Bird" %>
        <a href=<%= bird_path %> class="info">?</a>

        <%= bools_form.check_box :species_at_risk %>
        <%= bools_form.label :species_at_risk, "Species at Risk" %>
        <a href=<%= species_at_risk_path %> class="info">?</a>

        <h2>I've noticed changes in conditions</h2>

        <%= bools_form.check_box :wildlife_death %>
        <%= bools_form.label :wildlife_death, "Wildlife Death" %>
        <a href=<%= wildlife_death_path %> class="info">?</a>

        <%= bools_form.check_box :shoreline_alterations %>
        <%= bools_form.label :shoreline_alterations, "Shoreline Alterations" %>
        <a href=<%= shoreline_alterations_path %> class="info">?</a>

        <%= bools_form.check_box :water_quality %>
        <%= bools_form.label :water_quality, "Water Quality" %>
        <a href=<%= water_quality_path %> class="info">?</a>

        <%= bools_form.check_box :trash %>
        <%= bools_form.label :trash, "Trash" %>
        <a href=<%= trash_path %> class="info">?</a>

        <%= bools_form.check_box :foam %>
        <%= bools_form.label :foam, "Foam" %>
        <a href=<%= foam_path %> class="info">?</a>

        <%= bools_form.check_box :red_blooms %>
        <%= bools_form.label :red_blooms, "Algae blooms" %>
        <a href=<%= red_blooms_path %> class="info">?</a>

        <h2>I've spotted an invasive species</h2>

        <%= bools_form.check_box :phragmites %>
        <%= bools_form.label :phragmites, "Phragmites" %>
        <a href=<%= phragmites_path %> class="info">?</a>

        <%= bools_form.check_box :loosestrife %>
        <%= bools_form.label :loosestrife, "Loosestrife" %>
        <a href=<%= loosestrife_path %> class="info">?</a>

        <%= bools_form.check_box :dog_strangling_vine %>
        <%= bools_form.label :dog_strangling_vine, "Dog-Strangling Vine" %>
        <a href=<%= dog_strangling_vine_path %> class="info">?</a>

        <%= bools_form.check_box :introduced_honeysuckle %>
        <%= bools_form.label :introduced_honeysuckle, "Introduced Honeysuckle" %>
        <a href=<%= introduced_honeysuckle_path %> class="info">?</a>

        <%= bools_form.check_box :zebra_mussels %>
        <%= bools_form.label :zebra_mussels, "Zebra Mussels" %>
        <a href=<%= zebra_mussels_path %> class="info">?</a>

        <%= bools_form.check_box :giant_hogweed %>
        <%= bools_form.label :giant_hogweed, "Giant Hogweed" %>
        <a href=<%= giant_hogweed_path %> class="info">?</a>

        <%= bools_form.check_box :other_invasive %>
        <%= bools_form.label :other_invasive, "Other Invasive (describe in comments below)" %>
        <a href="#" class="info">?</a>
        <% end %>
      </div>
      <hr/>
      <div class="field">
        <h1>Test data</h1>

        <p>If you have equipment to record scientific data, do so here.  Want to get involved? 
          <a href=<%= test_kit_path %> class="info ajax-popup">Buy a testkit!</a></p>
      </div>
      <hr />
      <div class="test-data">
        <div class="field">
          <%= f.fields_for @tests_attributes do |tests_form| %>
          <%= tests_form.label :ph, "pH value (0-14)", :class=>'big-label' %>
          <a href=<%= ph_path %> class="info">?</a><br>
          <%= tests_form.number_field :ph, in: 0.0..14.0, :step => '.1', :placeholder=>"eg. 6.2" %>
          
        </div>

        <div class="field">
          <%= tests_form.label :temperature, "Water Temperature  ℃", :class=>'big-label' %>
          <a href=<%= temperature_path %> class="info">?</a><br>
          <%= tests_form.number_field :temperature, in: 0.0..100.0, :step => '.1', :placeholder=>"eg. 14" %>
          
        </div>

        <div class="field">
          <%= tests_form.label :oxygen, "Dissolved oxygen (mg/L)", :class=>'big-label' %>
          <a href=<%= oxygen_path %> class="info">?</a><br>
          <%= tests_form.number_field :oxygen, in: 0.0..1000000.0, :step => '.01', :placeholder=>"eg. 5.2" %>
          
        </div>

        <div class="field">
          <%= tests_form.label :ecoli, "Ecoli Fecal coliforms/100mL", :class=>'big-label' %>
          <a href=<%= ecoli_path %> class="info">?</a><br>
          <%= tests_form.number_field :ecoli, in: 0.0..1000000.0, :step => '1', :placeholder=>"eg. 120" %>
          
        </div>

        <div class="field with-threshold">
          <%= tests_form.label :phosphate, "Phosphates total (mg/L)", :class=>'big-label' %>
          <a href=<%= phosphate_path %> class="info">?</a><br>
          <!--two options for this one, >0.2 or input value-->
          <!-- I think we can find a better solution than this -->
          <!--%= radio_button_tag(:phosphates_threshold, "less than 0.2") %-->
          <!--%= label_tag(:phosphates_threshold, "<0.2") %-->
          <!--%= radio_button_tag(:phosphates_other, "other") %-->
          <!--%= label_tag(:phosphates_other, "") %-->
          <%= tests_form.number_field :phosphate, in: 0.0..1000000.0, :step => '.01', :placeholder=>"eg. 0.2" %>
          
        </div>

        <div class="field">
          <%= tests_form.label :clarity, "Water clarity (Secchi depth in metres)", :class=>'big-label' %>
          <a href=<%= clarity_path %> class="info">?</a><br>
          <!--two options for this one, bottom visible or input value-->
          <!--%= radio_button_tag(:secchi_bottom_visible, "bottom visible") %-->
          <!--%= label_tag(:secchi_bottom_visible, "bottom visible") %-->
          <!--%= radio_button_tag(:secchi_value, "other") %-->
          <%= tests_form.number_field :clarity, in: 0.0..1000000.0, :step => '.1', :placeholder=>"eg. 2.5" %>
          
        </div>

          <div class="field">
          <%= tests_form.label :nitri, "Nitrites (mg/L)", :class=>'big-label' %>
          <a href=<%= nitri_path %> class="info">?</a><br>
          <!--two options for this one, less than 0.5 or input value-->
          <!-- I think we can find a better solution for this -->
          <!--%= radio_button_tag(:nitrites_threshold, "Less than 0.5") %-->
          <!--%= label_tag(:nitrites_threshold, "< 0.5") %-->
          <!--%= radio_button_tag(:nitrites_other, "other") %-->
          <%= tests_form.number_field :nitri, in: 0.0..1000000.0, :step => '.01', :placeholder=>"eg. 0.5" %>
          
        </div>

        <div class="field">
          <%= tests_form.label :nitrate, "Nitrates (mg/L)", :class=>'big-label' %>
          <a href=<%= nitrate_path %> class="info">?</a><br>
          <!--two options for this one, less than 0.5 or input value-->
          <!-- I think we can find a better solution for this -->
          <!--%= radio_button_tag(:nitrates_threshold, "Less than 0.5") %-->
          <!--%= label_tag(:nitrates_threshold, "< 0.5") %-->
          <!--%= radio_button_tag(:nitrates_other, "other") %-->
          <%= tests_form.number_field :nitrate, in: 0.0..1000000.0, :step => '.01', :placeholder=>"eg. 5" %>
          
        </div>
        
        <% end %>

      </div>
      <hr />
      <div class="field comment">
        <%= f.fields_for @comment_add do |contact_form| %>
        <%= contact_form.label :body, "Describe what you saw", :class=>"big-label" %><br>
        <%= contact_form.text_area :body, :placeholder=>"Is there a smell (mucky, earthy)? What colour is the water (brown, clear green, blue green)? Is it something on the surface or throughout the water?" %>
        <% end %>
      </div>
      <hr/>
      <div class="field">
        <%= f.label :observe_on, "Date observed", :class=>"big-label" %><br>
        <%= f.datetime_local_field :observe_on, value: Time.now.strftime("%FT%R") %>
      </div>
      <hr/>
      <div class="actions">
        <%= f.submit "Submit Additional Data", class: "button" %>
      </div>
      <br /><br />
    </div>
  <% end %>
</div>