<% content_for :maps do %>
   <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
   <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<% end %>

<%= form_for(@observation) do |f| %>
  <% if @observation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@observation.errors.count, "error") %> prohibited this observation from being saved:</h2>
      <ul>
      <% @observation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :coordinates, "Location" %><br>
    <%= f.text_field :coordinates, class: "current_location" %>
    <%#= link_to("Change", "#") %>
  </div>


  <div class="field">
    <%= f.label :description, "Location nickname" %><br>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label "", "Date observed" %><br>
    <%= text_field_tag "dummy", nil %>
  </div>

  <div class="actions">
    <%= f.submit "Add photo", class: "button" %>
  </div>

  <div class="field">
    <h2>Wildlife</h2>
    <%= check_box_tag(:mammal) %>
    <%= label_tag(:mammal, "Mammal") %>
    <a href="#" class="info">?</a>

    <%= check_box_tag(:reptile) %>
    <%= label_tag(:reptile, "reptile") %>
    <a href="#" class="info">?</a>

    <%= check_box_tag(:amphibian) %>
    <%= label_tag(:amphibian, "amphibian") %>
    <a href="#" class="info">?</a>

    <%= check_box_tag(:fish) %>
    <%= label_tag(:fish, "fish") %>
    <a href="#" class="info">?</a>

    <%= check_box_tag(:plant) %>
    <%= label_tag(:plant, "plant") %>
    <a href="#" class="info">?</a>

    <%= check_box_tag(:insect) %>
    <%= label_tag(:insect, "insect") %>
    <a href="#" class="info">?</a>

    <%= check_box_tag(:bird) %>
    <%= label_tag(:bird, "bird") %>
    <a href="#" class="info">?</a>

    <%= check_box_tag(:species_at_risk) %>
    <%= label_tag(:species_at_risk, "species at risk") %>
    <a href="#" class="info">?</a>

    <h2>Changes in conditions</h2>

    <%= check_box_tag(:wildlife_death) %>
    <%= label_tag(:wildlife_death, "wildlife death") %>
    <a href="#" class="info">?</a>

    <%= check_box_tag(:shoreline_alterations) %>
    <%= label_tag(:shoreline_alterations, "shoreline alterations") %>
    <a href="#" class="info">?</a>

    <%= check_box_tag(:water_quality) %>
    <%= label_tag(:water_quality, "water quality") %>
    <a href="#" class="info">?</a>

    <%= check_box_tag(:trash) %>
    <%= label_tag(:trash, "trash") %>
    <a href="#" class="info">?</a>

    <%= check_box_tag(:foam) %>
    <%= label_tag(:foam, "foam") %>
    <a href="#" class="info">?</a>

    <%= check_box_tag(:red_blooms) %>
    <%= label_tag(:red_blooms, "red blooms") %>
    <a href="#" class="info">?</a>

    <h2>Invasive species</h2>

    <%= check_box_tag(:phragmites) %>
    <%= label_tag(:phragmites, "phragmites") %>
    <a href="#" class="info">?</a>

    <%= check_box_tag(:loosestrife) %>
    <%= label_tag(:loosestrife, "loosestrife") %>
    <a href="#" class="info">?</a>

    <%= check_box_tag(:dog_strangling_vine) %>
    <%= label_tag(:dog_strangling_vine, "Dog-Strangling Vine") %>
    <a href="#" class="info">?</a>

    <%= check_box_tag(:introduced_honeysuckle) %>
    <%= label_tag(:introduced_honeysuckle, "Introduced Honeysuckle") %>
    <a href="#" class="info">?</a>

    <%= check_box_tag(:zebra_mussels) %>
    <%= label_tag(:zebra_mussels, "zebra mussels") %>
    <a href="#" class="info">?</a>

    <%= check_box_tag(:giant_hogweed) %>
    <%= label_tag(:giant_hogweed, "Giant Hogweed") %>
    <a href="#" class="info">?</a>

    <%= check_box_tag(:introduced_honeysuckle) %>
    <%= label_tag(:introduced_honeysuckle, "Introduced Honeysuckle") %>
    <a href="#" class="info">?</a>

    <%= check_box_tag(:other_invasive) %>
    <%= label_tag(:other_invasive, "Other Invasive") %>
    <a href="#" class="info">?</a>
  </div>


  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>

  <div class="field">
    <h2>Test data</h2>
    <h3>Do you have a test kit?</h3><a href="#" class="info">?</a>
  </div>

  <div class="field">
    <%= f.label "", "pH value (0-14)" %><br>
    <%= text_field_tag "dummy", nil %>
    <a href="#" class="info">?</a>
  </div>

  <div class="field">
    <%= f.label "", "Water Temperature  &#8451;" %><br>
    <%= text_field_tag "dummy", nil %>
    <a href="#" class="info">?</a>
  </div>

  <div class="field">
    <%= f.label "", "Phosphates total (mg/L)" %><br>
    <!--two options for this one, >0.2 or input value-->
    <%= radio_button_tag(:phosphates_threshold, "less than 0.2") %>
    <%= label_tag(:phosphates_threshold, "less than 0.2") %>

    <%= radio_button_tag(:phosphates_other, "other") %>
    <%= text_field_tag "dummy", nil %>
    <a href="#" class="info">?</a>
  </div>

  <div class="field">
    <%= f.label "", "Water clarity (Secchi depth in metres)" %><br>
    <!--two options for this one, bottom visible or input value-->
    <%= radio_button_tag(:secchi_bottom_visible, "bottom visible") %>
    <%= label_tag(:secchi_bottom_visible, "bottom visible") %>

    <%= radio_button_tag(:secchi_value, "other") %>
    <%= text_field_tag "dummy", nil %>
    <a href="#" class="info">?</a>
  </div>

  <div class="field">
    <%= f.label "", "Dissolved oxygen" %><br>
    <%= text_field_tag "dummy", nil %>
    <a href="#" class="info">?</a>
  </div>

    <div class="field">
    <%= f.label "", "Nitries (mg/L)" %><br>
    <!--two options for this one, less than 0.5 or input value-->
    <%= radio_button_tag(:nitrites_threshold, "Less than 0.5") %>
    <%= label_tag(:nitrites_threshold, "Less than 0.5") %>

    <%= radio_button_tag(:nitrites_other, "other") %>
    <%= text_field_tag "dummy", nil %>
    <a href="#" class="info">?</a>
  </div>

  <div class="field">
    <%= f.label "", "Nitrates (mg/L)" %><br>
    <!--two options for this one, less than 0.5 or input value-->
    <%= radio_button_tag(:nitrates_threshold, "Less than 0.5") %>
    <%= label_tag(:nitrates_threshold, "Less than 0.5") %>

    <%= radio_button_tag(:nitrates_other, "other") %>
    <%= text_field_tag "dummy", nil %>
    <a href="#" class="info">?</a>
  </div>

  <div class="field">
    <%= f.label "", "Ecoli Fecal coliforms/100mL" %><br>
    <%= text_field_tag "dummy", nil %>
    <a href="#" class="info">?</a>
  </div>


  <div class="field">
    <%= f.label "", "Something you tested missing?" %><br>
    <%= f.submit "Let us know", class: "button" %>
  </div>

  <div class="field">
    <h2>Add Research</h2>
    <h3>Are you a researcher?</h3><a href="#" class="info">?</a>
  </div>

  <div class="field">
    <%= f.label "", "report_title" %><br>
    <%= text_field_tag "dummy", nil %>
  </div>

  <div class="field">
    <%= f.label "", "date_published" %><br>
    <%= text_field_tag "dummy", nil %>
    <a href="#" class="info">?</a>
  </div>

  <div class="field">
    <%= f.label "", "author" %><br>
    <%= text_field_tag "dummy", nil %>
    <a href="#" class="info">?</a>
  </div>

  <div class="field">
    <%= f.label "", "web_address" %><br>
    <%= text_field_tag "dummy", nil %>
    <a href="#" class="info">?</a>
  </div>

  <div class="field">
    <%= f.label "", "synopsis" %><br>
    <%= text_area_tag "dummy", nil %>
    <a href="#" class="info">?</a>
  </div>

  <div class="actions">
    <%= f.submit "Submit observation", class: "button" %>
  </div>
  <br /><br />
<% end %>
