<div class="observation">
  <section class="gallery">
    <% if @photo.image.exists? %>
      <%= image_tag @photo.image.url(:default_size) %>
    <% end %>
    <div class="photographer">
      <cite>
        May 4, 2014 by Kat Kavanagh
      </cite>
    </div>
  </section>
  <% if @bool2.nil? %>
  <section class="tags">
    <h1>Observations</h1>
    <ul class="badges">
      <% unless @bools2["mammal"].nil? %>
        <li class="mammals">
          <a href=<%= mammal_path %>>
              <!--links to details page
                On details page for tags, will need to output all observations... 
                date, recorded by, in a list.  see helpers>mammals for an example of what needs to be recorded in-->
            <%= image_tag('badge-icons/mammals.png', alt: "Mammals") %>
            <h3><%= @bools2["mammal"][:total] %></h3>
            <h2>Mammals</h2>
            <cite><%= @bools2["mammal"][:date].strftime("%B %d,%Y") %></cite>
          </a>
        </li>
      <% end %>
      <% unless @bools2["reptile"].nil? %>
        <li class="reptiles">
         <a href=<%= reptile_path %>>
            <%= image_tag('badge-icons/reptile.png', alt: "Reptiles") %>
           <h3><%= @bools2["reptile"][:total] %><h3>
            <h2>Reptiles</h2>
             <cite><%= @bools2["reptile"][:date].strftime("%B %d,%Y") %></cite>
          </a>
        </li>
      <% end %>
      <% unless @bools2["amphibian"].nil? %>
        <li class="amphibians">
          <a href=<%= amphibian_path %>>
            <%= image_tag('badge-icons/amphibians.png', alt: "amphibians") %>
            <h3><%= @bools2["amphibian"][:total] %></h3>
            <h2>amphibians</h2>
            <cite><%= @bools2["amphibian"][:date].strftime("%B %d,%Y") %></cite>
          </a>
        </li>
      <% end %>
      <% unless @bools2["fish"].nil? %>
        <li class="fish">
          <a href=<%= fish_path %>>
            <%= image_tag('badge-icons/fish.png', alt: "fish") %>
            <h3><%= @bools2["fish"][:total] %></h3>
            <h2>Fish</h2>
            <cite><%= @bools2["fish"][:date].strftime("%B %d,%Y") %></cite>
          </a>
        </li>
      <% end %>
      <% unless @bools2["plant"].nil? %>
        <li class="plants">
          <a href=<%= plant_path %>>
            <%= image_tag('badge-icons/plants.png', alt: "plants") %>
            <h3><%= @bools2["plant"][:total] %></h3>
            <h2>Plants</h2>
            <cite><%= @bools2["plant"][:date].strftime("%B %d,%Y") %></cite>
          </a>
        </li>
      <% end %>
      <% unless @bools2["bird"].nil? %>
        <li class="birds">
          <a href= <%= bird_path %>>
            <%= image_tag('badge-icons/birds.png', alt: "birds") %>
            <h3><%= @bools2["bird"][:total] %></h3>
            <h2>Birds</h2>
            <cite><%= @bools2["bird"][:date].strftime("%B %d,%Y") %></cite>
          </a>
        </li>
      <% end %>
      <% unless @bools2["insect"].nil? %>
        <li class="insects">
          <a href=<%= insect_path %>>
            <%= image_tag('badge-icons/insects.png', alt: "insects") %>
            <h3><%= @bools2["insect"][:total] %><h3>
            <h2>Insects</h2>
              <cite><%= @bools2["insect"][:date].strftime("%B %d,%Y") %></cite>
          </a>
        </li>
      <% end %>
      <% unless @bools2["species_at_risk"].nil? %>
        <li class="species-at-risk warning">
          <a href=<%= species_at_risk_path %>>
            <%= image_tag('badge-icons/species-at-risk.png', alt: "species at risk") %>
            <h3><%= @bools2["species_at_risk"][:total] %></h3>
            <h2>species at risk</h2>
            <cite><%= @bools2["species_at_risk"][:date].strftime("%B %d,%Y") %></cite>
          </a>
        </li>
      <% end %>
      <% if true %>
        <li class="wildlife-death warning">
          <a href=<%= wildlife_death_path %>>
            <%= image_tag('badge-icons/wildlife-death.png', alt: "wildlife death") %>
            <h3><%= boolsCountNumberOf(@observation.id, :wildlife_death) %></h3>
            <h2>wildlife death</h2>
            <cite></cite>
          </a>
        </li>
      <% end %>
      <% if true %>
        <li class="shoreline-alterations warning">
          <a href=<%= shoreline_alterations_path %>>
            <%= image_tag('badge-icons/shoreline-alterations.png', alt: "shoreline alterations") %>
            <h3><%= boolsCountNumberOf(@observation.id, :shoreline_alterations) %></h3>
            <h2>shoreline alterations</h2>
            <cite></cite>
          </a>
        </li>
      <% end %>
      <% if true %>
        <li class="water-quality warning">
          <a href=<%= water_quality_path %>>
            <%= image_tag('badge-icons/water-quality.png', alt: "water quality") %>
            <h3><%= boolsCountNumberOf(@observation.id, :water_quality) %></h3>
            <h2>water quality</h2>
            <cite></cite>
          </a>
        </li>
      <% end %>
      <% if true %>
      <li class="foam warning">
        <a href=<%= foam_path %>>
          <%= image_tag('badge-icons/foam.png', alt: "foam") %>
          <h3><%= boolsCountNumberOf(@observation.id, :foam) %></h3>
          <h2>Foam</h2>
          <cite></cite>
        </a>
      </li>
      <% end %>
      <% if true %>
        <li class="trash danger">
          <a href=<%= trash_path %>>
            <%= image_tag('badge-icons/trash.png', alt: "trash") %>
            <h3><%= boolsCountNumberOf(@observation.id, :trash) %></h3>
            <h2>Trash</h2>
            <cite></cite>
          </a>
        </li>
      <% end %>
      <% if true %>
        <li class="red-blooms danger">
          <a href=<%= red_blooms_path %>>
            <%= image_tag('badge-icons/red-blooms.png', alt: "red-blooms") %>
            <h3><%= boolsCountNumberOf(@observation.id, :red_blooms) %></h3>
            <h2>Algae Blooms</h2>
            <cite></cite>
          </a>
        </li>
      <% end %>
      <% if true %>
        <li class="phragmites danger">
          <a href=<%= phragmites_path %>>
            <%= image_tag('badge-icons/phragmites.png', alt: "phragmites") %>
            <h3><%= boolsCountNumberOf(@observation.id, :phragmites) %></h3>
            <h2>phragmites</h2>
            <cite></cite>
          </a>
        </li>
      <% end %>
      <% if true %>
        <li class="loosestrife danger">
          <a href=<%= loosestrife_path %>>
            <%= image_tag('badge-icons/loosestrife.png', alt: "loosestrife") %>
            <h3><%= boolsCountNumberOf(@observation.id, :loosestrife) %></h3>
            <h2>loosestrife</h2>
            <cite></cite>
          </a>
        </li>
      <% end %>
      <% if true %>
        <li class="dog-strangling-vine danger">
          <a href=<%= dog_strangling_vine_path %>>
            <%= image_tag('badge-icons/dog-strangling-vine.png', alt: "dog-strangling vine") %>
            <h3><%= boolsCountNumberOf(@observation.id, :dog_strangling_vine_path) %></h3>
            <h2>dog-strangling vine</h2>
            <cite></cite>
          </a>
        </li>
      <% end %>
      <% if true %>
        <li class="introduced-honeysuckle danger">
          <a href=<%= introduced_honeysuckle_path %>>
            <%= image_tag('badge-icons/introduced-honeysuckle.png', alt: "introduced honeysuckle") %>
            <h3><%= boolsCountNumberOf(@observation.id, :introduced_honeysuckle) %></h3>
            <h2>introduced honeysuckle</h2>
            <cite></cite>
          </a>
        </li>
      <% end %>
      <% if true %>
        <li class="zebra-mussels danger">
          <a href=<%= zebra_mussels_path %>>
            <%= image_tag('badge-icons/zebra-mussels.png', alt: "zebra mussels") %>
            <h3><%= boolsCountNumberOf(@observation.id, :zebra_mussels) %></h3>
            <h2>zebra mussels</h2>
            <cite></cite>
          </a>
        </li>
      <% end %>
      <% if true %>
        <li class="giant-hogweed danger">
          <a href=<%= giant_hogweed_path %>>
            <%= image_tag('badge-icons/giant-hogweed.png', alt: "giant hogweed") %>
            <h3><%= boolsCountNumberOf(@observation.id, :giant_hogweed) %></h3>
            <h2>giant hogweed</h2>
            <cite></cite>
          </a>
        </li>
      <% end %>
    </ul>
  </section>
  <% end %>
  
  <ul class="comments">
    <li>
      <!-- Initial comment when Observation was created -->
      <cite><%= @observation.created_at.strftime("%v ") %><span class="name"><%= @user.username %></span></cite>
      <p><%= @observation.comment %></p>
    </li>
    <% @comments.each do |comment| %>
      <li>
        <cite><%= comment.created_at.strftime("%v ") %><span class="name"><%= comment.user.username %></span></cite>
        <p><%= comment.body %></p>
      </li>
    <% end %>
    
    <section class="add-more">
      <%= link_to "Add Comment", {:controller => "comments", :action => "new", :observation_id => @observation.id}, :class=>"button", :method => :get%>
      <cite>This will add a new comment to this observation.</cite>
    </section>
  </ul>

  <% unless @tests.nil? %>
  <section class="science">
    <ul>
      <% unless @tests.ph.nil? %>
        <li class="ph">
          <a href="#"> <!--links to details page: on this page we again give the table of data, same as the tags (it will just be rendered into a graph-->
            <h3>pH</h3>
            <div class="current">
              <h1><%= @tests.ph %></h1><!--this is always the last observation-->
              <cite>4.12.2015</cite><!--last observation date-->
            </div>
            <div class="average">
              <h2>5.5</h2><!--this is the average of all observations-->
              <cite>average</cite>
            </div>
            <div class="graph"><!--this is displaying the values for up to the last 5 observations-->
              <%= image_tag('fake-graph.png', alt: "just mockin it up") %>
              <cite>&#126; 2.2 years</cite><!--this is the date range in months/years of the shown observations (nice to have feature)-->
            </div>
            <%= image_tag('more.png', alt: "prompt", :class => "more-link") %>
          </a>
        </li>
      <% end %>
      <% unless @tests.temperature.nil? %>
        <li class="temperature">
          <a href="#">
            <h3>Water Temperature &#8451;</h3>
            <div class="current">
              <h1><%= @tests.temperature %></h1>
              <cite>4.12.2015</cite>
            </div>
            <div class="average">
              <h2>12</h2>
              <cite>average</cite>
            </div>
            <div class="graph">
              <%= image_tag('fake-graph.png', alt: "just mockin it up") %>
              <cite>&#126; 2.2 years</cite>
            </div>
            <%= image_tag('more.png', alt: "prompt", :class => "more-link") %>
          </a>
        </li>
      <% end %>
      <% unless @tests.phosphate.nil? %>
        <li class="phosphates good">
          <a href="#">
            <h3>Phosphates mg/L</h3>
            <div class="current">
              <h1><%= @tests.phosphate %></h1>
              <cite>4.12.2015</cite>
            </div>
            <div class="average">
              <h2>0</h2>
              <cite>average</cite>
            </div>
            <div class="graph">
              <%= image_tag('fake-graph.png', alt: "just mockin it up") %>
              <cite>&#126; 2.2 years</cite>
            </div>
            <%= image_tag('more.png', alt: "prompt", :class => "more-link") %>
          </a>
        </li>
      <% end %>
      <% unless @tests.clarity.nil? %>
        <li class="secchi good">
          <a href="#">
            <h3>Water clarity (m)</h3>
            <div class="current">
              <h1><%= @tests.clarity %></h1>
              <cite>4.12.2015</cite>
            </div>
            <div class="average">
              <h2>10</h2>
              <cite>average</cite>
            </div>
            <div class="graph">
              <%= image_tag('fake-graph.png', alt: "just mockin it up") %>
              <cite>&#126; 2.2 years</cite>
            </div>
            <%= image_tag('more.png', alt: "prompt", :class => "more-link") %>
          </a>
        </li>
      <% end %>
      <% unless @tests.oxygen.nil? %>
        <li class="dissolved-oxygen warning">
          <a href="#">
            <h3>Dissolved oxygen (mg/L)</h3>
            <div class="current">
              <h1><%= @tests.oxygen %></h1>
              <cite>4.12.2015</cite>
            </div>
            <div class="average">
              <h2>10</h2>
              <cite>average</cite>
            </div>
            <div class="graph">
              <%= image_tag('fake-graph.png', alt: "just mockin it up") %>
              <cite>&#126; 2.2 years</cite>
            </div>
            <%= image_tag('more.png', alt: "prompt", :class => "more-link") %>
          </a>
        </li>
      <% end %>
      <% unless @tests.nitri.nil? %>
        <li class="nitrites warning">
          <a href="#">
            <h3>nitrites (mg/L)</h3>
            <div class="current">
              <h1><%= @tests.nitri %></h1>
              <cite>4.12.2015</cite>
            </div>
            <div class="average">
              <h2>0.4</h2>
              <cite>average</cite>
            </div>
            <div class="graph">
              <%= image_tag('fake-graph.png', alt: "just mockin it up") %>
              <cite>&#126; 2.2 years</cite>
            </div>
            <%= image_tag('more.png', alt: "prompt", :class => "more-link") %>
          </a>
        </li>
      <% end %>
      <% unless @tests.nitrate.nil? %>
        <li class="nitrates warning">
          <a href="#">
            <h3>nitrates (mg/L)</h3>
            <div class="current">
              <h1><%= @tests.nitrate %></h1>
              <cite>4.12.2015</cite>
            </div>
            <div class="average">
              <h2>0.4</h2>
              <cite>average</cite>
            </div>
            <div class="graph">
              <%= image_tag('fake-graph.png', alt: "just mockin it up") %>
              <cite>&#126; 2.2 years</cite>
            </div>
            <%= image_tag('more.png', alt: "prompt", :class => "more-link") %>
          </a>
        </li>
      <% end %>
      <% unless @tests.ecoli.nil? %>
        <li class="ecoli warning">
          <a href="#">
            <h3>E-coli Fecal coliforms/100mL</h3>
            <div class="current">
              <h1><%= @tests.ecoli %></h1>
              <cite>4.12.2015</cite>
            </div>
            <div class="average">
              <h2>150</h2>
              <cite>average</cite>
            </div>
            <div class="graph">
              <%= image_tag('fake-graph.png', alt: "just mockin it up") %>
              <cite>&#126; 2.2 years</cite>
            </div>
            <%= image_tag('more.png', alt: "prompt", :class => "more-link") %>
          </a>
        </li>
      <% end %>
    </ul>
  </section>
  <% end %>
  
  <!--if statement should wrap this whole section to not display if there are no reports-->
  <section class="research">
    <h1>Research</h1>

    <ul>
      <li>
          <a href="#"> <!--links to details page-->
            <h3>Report title</h3>
            <cite>May 4 by Kat Kavanagh</cite>
          </a>
      </li>
    </ul>
  </section>

  <section class="add-more">
    <%= link_to "Add to Observation", {:controller => "observations", :action => "add_data", :observation_id => @observation.id}, :class=>"button", :method => :get%>
    <cite>This will add data to this location</cite>
  </section>

  <br />
  <br />
  
<p><%= @observation.description %></p>
  <%= link_to 'Edit', edit_observation_path(@observation) %> |
  <%= link_to 'Back', observations_path %>
</div>