<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @observation.description %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @observation.comment %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @observation.coordinates.x %>
</p>
<p>
  <strong>Longitude:</strong>
  <%= @observation.coordinates.y %>
</p>

<%= link_to 'Edit', edit_observation_path(@observation) %> |
<%= link_to 'Back', observations_path %>
