<div class="observation">
  <section class="gallery">
    <%= image_tag @photo.image.url %>
    <div class="photographer">
      <cite>
        May 4, 2014 by Kat Kavanagh
      </cit>
    </div>
  </section>
  <% unless @bools.nil? %>
  <section class="tags">
    <h1>Observations</h1>
    <ul class="badges">
      <% if @bools.mammal %>
        <li class="mammals">
          <a href=<%= mammal_path %>>
              <!--links to details page
                On details page for tags, will need to output all observations... 
                date, recorded by, in a list.  see helpers>mammals for an example of what needs to be recorded in

            -->
            <%= image_tag('badge-icons/mammals.png', alt: "Mammals") %>
            <h3><%= @bools.mammal ? "1" : "0" %></h3><!--this is displaying one or zero, it should be a count of all observation lines for mammals for this spot-->
            <h2>Mammals</h2>
            <cite>May 4, 2014</cite><!--this should be the LAST recorded date-->
          </a>
        </li>
      <% end %>
      <% if @bools.reptile %>
        <li class="reptiles">
         <a href=<%= reptile_path %>>
            <%= image_tag('badge-icons/reptile.png', alt: "Reptiles") %>
            <h3><%= @bools.reptile ? "1" : "0" %></h3>
            <h2>Reptiles</h2>
            <cite>May 4, 2014</cite>
          </a>
        </li>
      <% end %>
      <% if @bools.amphibian %>
        <li class="amphibians">
          <a href=<%= amphibian_path %>>
            <%= image_tag('badge-icons/amphibians.png', alt: "amphibians") %>
            <h3><%= @bools.amphibian ? "1" : "0" %></h3>
            <h2>amphibians</h2>
            <cite>May 4, 2014</cite>
          </a>
        </li>
      <% end %>
      <% if @bools.fish %>
        <li class="fish">
          <a href=<%= fish_path %>>
            <%= image_tag('badge-icons/fish.png', alt: "fish") %>
            <h3><%= @bools.fish ? "1" : "0" %></h3>
            <h2>Fish</h2>
            <cite>May 4, 2014</cite>
          </a>
        </li>
      <% end %>
      <% if @bools.plant %>
        <li class="plants">
          <a href=<%= plant_path %>>
            <%= image_tag('badge-icons/plants.png', alt: "plants") %>
            <h3><%= @bools.plant ? "1" : "0" %></h3>
            <h2>plants</h2>
            <cite>May 4, 2014</cite>
          </a>
        </li>
      <% end %>
      <% if @bools.bird %>
        <li class="birds">
          <a href= <%= bird_path %>>
            <%= image_tag('badge-icons/birds.png', alt: "birds") %>
            <h3><%= @bools.bird ? "1" : "0" %></h3>
            <h2>Birds</h2>
            <cite>May 4, 2014</cite>
          </a>
        </li>
      <% end %>
      <% if @bools.insect %>
        <li class="insects">
          <a href=<%= insect_path %>>
            <%= image_tag('badge-icons/insects.png', alt: "insects") %>
            <h3><%= @bools.insect ? "1" : "0" %></h3>
            <h2>insects</h2>
            <cite>May 4, 2014</cite>
          </a>
        </li>
      <% end %>
      <% if @bools.species_at_risk %>
        <li class="species-at-risk warning">
          <a href=<%= species_at_risk_path %>>
            <%= image_tag('badge-icons/species-at-risk.png', alt: "species at risk") %>
            <h3><%= @bools.species_at_risk ? "1" : "0" %></h3>
            <h2>species at risk</h2>
            <cite>May 4, 2014</cite>
          </a>
        </li>
      <% end %>
      <% if @bools.wildlife_death %>
        <li class="wildlife-death warning">
          <a href=<%= wildlife_death_path %>>
            <%= image_tag('badge-icons/wildlife-death.png', alt: "wildlife death") %>
            <h3><%= @bools.wildlife_death ? "1" : "0" %></h3>
            <h2>wildlife death</h2>
            <cite>May 4, 2014</cite>
          </a>
        </li>
      <% end %>
      <% if @bools.shoreline_alterations %>
        <li class="shoreline-alterations warning">
          <a href=<%= shoreline_alterations_path %>>
            <%= image_tag('badge-icons/shoreline-alterations.png', alt: "shoreline alterations") %>
            <h3><%= @bools.shoreline_alterations ? "1" : "0" %></h3>
            <h2>shoreline alterations</h2>
            <cite>May 4, 2014</cite>
          </a>
        </li>
      <% end %>
      <% if @bools.water_quality %>
        <li class="water-quality warning">
          <a href=<%= water_quality_path %>>
            <%= image_tag('badge-icons/water-quality.png', alt: "water quality") %>
            <h3><%= @bools.water_quality ? "1" : "0" %></h3>
            <h2>water quality</h2>
            <cite>May 4, 2014</cite>
          </a>
        </li>
      <% end %>
      <% if @bools.trash %>
        <li class="trash danger">
          <a href=<%= trash_path %>>
            <%= image_tag('badge-icons/trash.png', alt: "trash") %>
            <h3><%= @bools.trash ? "1" : "0" %></h3>
            <h2>Trash</h2>
            <cite>May 4, 2014</cite>
          </a>
        </li>
      <% end %>
      <% if @bools.foam %>
      <li class="foam warning">
        <a href=<%= foam_path %>>
          <%= image_tag('badge-icons/foam.png', alt: "foam") %>
          <h3><%= @bools.foam ? "1" : "0" %></h3>
          <h2>Foam</h2>
          <cite>May 4, 2014</cite>
        </a>
      </li>
      <% end %>
      <% if @bools.red_blooms %>
        <li class="red-blooms danger">
          <a href=<%= red_blooms_path %>>
            <%= image_tag('badge-icons/red-blooms.png', alt: "red-blooms") %>
            <h3><%= @bools.red_blooms ? "1" : "0" %></h3>
            <h2>Red Blooms</h2>
            <cite>May 4, 2014</cite>
          </a>
        </li>
      <% end %>
      <% if @bools.phragmites %>
        <li class="phragmites danger">
          <a href=<%= phragmites_path %>>
            <%= image_tag('badge-icons/phragmites.png', alt: "phragmites") %>
            <h3><%= @bools.phragmites ? "1" : "0" %></h3>
            <h2>phragmites</h2>
            <cite>May 4, 2014</cite>
          </a>
        </li>
      <% end %>
      <% if @bools.loosestrife %>
        <li class="loosestrife danger">
          <a href=<%= loosestrife_path %>>
            <%= image_tag('badge-icons/loosestrife.png', alt: "loosestrife") %>
            <h3><%= @bools.loosestrife ? "1" : "0" %></h3>
            <h2>loosestrife</h2>
            <cite>May 4, 2014</cite>
          </a>
        </li>
      <% end %>
      <% if @bools.dog_strangling_vine %>
        <li class="dog-strangling-vine danger">
          <a href=<%= dog_strangling_vine_path %>>
            <%= image_tag('badge-icons/dog-strangling-vine.png', alt: "dog-strangling vine") %>
            <h3><%= @bools.dog_strangling_vine ? "1" : "0" %></h3>
            <h2>dog-strangling vine</h2>
            <cite>May 4, 2014</cite>
          </a>
        </li>
      <% end %>
      <% if @bools.introduced_honeysuckle %>
        <li class="introduced-honeysuckle danger">
          <a href=<%= introduced_honeysuckle_path %>>
            <%= image_tag('badge-icons/introduced-honeysuckle.png', alt: "introduced honeysuckle") %>
            <h3><%= @bools.introduced_honeysuckle ? "1" : "0" %></h3>
            <h2>introduced honeysuckle</h2>
            <cite>May 4, 2014</cite>
          </a>
        </li>
      <% end %>
      <% if @bools.zebra_mussels %>
        <li class="zebra-mussels danger">
          <a href=<%= zebra_mussels_path %>>
            <%= image_tag('badge-icons/zebra-mussels.png', alt: "zebra mussels") %>
            <h3><%= @bools.zebra_mussels ? "1" : "0" %></h3>
            <h2>zebra mussels</h2>
            <cite>May 4, 2014</cite>
          </a>
        </li>
      <% end %>
      <% if @bools.giant_hogweed %>
        <li class="giant-hogweed danger">
          <a href=<%= giant_hogweed_path %>>
            <%= image_tag('badge-icons/giant-hogweed.png', alt: "giant hogweed") %>
            <h3><%= @bools.giant_hogweed ? "1" : "0" %></h3>
            <h2>giant hogweed</h2>
            <cite>May 4, 2014</cite>
          </a>
        </li>
      <% end %>
    </ul>
  </section>
  <% end %>
  
  <ul class="comments">
    <li>
      <cite>12.4.2014 <span class="name">by Kat Kavanagh</span></cite>
      <p><%= @observation.comment %></p>
    </li>
    <!--this should display the comments, one in each section with date and observer name-->
    <li>
      <cite>12.4.2014 <span class="name">by Kat Kavanagh</span></cite>
      <p><%= @observation.comment %></p>
    </li>
    <li>
      <cite>12.4.2014 <span class="name">by Kat Kavanagh</span></cite>
      <p><%= @observation.comment %></p>
    </li>
  </ul>

  <% unless @tests.nil? %>
  <section class="science">
    <ul>
      <% unless @tests.ph.nil? %>
        <li class="ph">
          <a href="#"> <!--links to details page: on this page we again give the table of data, same as the tags (it will just be rendered into a graph-->
            <h3>pH</h3>
            <div class="current">
              <h1><%= @tests.ph %></h1><!--this is always the last observation-->
              <cite>4.12.2015</cite><!--last observation date-->
            </div>
            <div class="average">
              <h2>5.5</h2><!--this is the average of all observations-->
              <cite>average</cite>
            </div>
            <div class="graph"><!--this is displaying the values for up to the last 5 observations-->
              <%= image_tag('fake-graph.png', alt: "just mockin it up") %>
              <cite>&#126; 2.2 years</cite><!--this is the date range in months/years of the shown observations (nice to have feature)-->
            </div>
            <%= image_tag('more.png', alt: "prompt", :class => "more-link") %>
          </a>
        </li>
      <% end %>
      <% unless @tests.temperature.nil? %>
        <li class="temperature">
          <a href="#">
            <h3>Water Temperature &#8451;</h3>
            <div class="current">
              <h1><%= @tests.temperature %></h1>
              <cite>4.12.2015</cite>
            </div>
            <div class="average">
              <h2>12</h2>
              <cite>average</cite>
            </div>
            <div class="graph">
              <%= image_tag('fake-graph.png', alt: "just mockin it up") %>
              <cite>&#126; 2.2 years</cite>
            </div>
            <%= image_tag('more.png', alt: "prompt", :class => "more-link") %>
          </a>
        </li>
      <% end %>
      <% unless @tests.phosphate.nil? %>
        <li class="phosphates good">
          <a href="#">
            <h3>Phosphates mg/L</h3>
            <div class="current">
              <h1><%= @tests.phosphate %></h1>
              <cite>4.12.2015</cite>
            </div>
            <div class="average">
              <h2>0</h2>
              <cite>average</cite>
            </div>
            <div class="graph">
              <%= image_tag('fake-graph.png', alt: "just mockin it up") %>
              <cite>&#126; 2.2 years</cite>
            </div>
            <%= image_tag('more.png', alt: "prompt", :class => "more-link") %>
          </a>
        </li>
      <% end %>
      <% unless @tests.clarity.nil? %>
        <li class="secchi good">
          <a href="#">
            <h3>Water clarity (m)</h3>
            <div class="current">
              <h1><%= @tests.clarity %></h1>
              <cite>4.12.2015</cite>
            </div>
            <div class="average">
              <h2>10</h2>
              <cite>average</cite>
            </div>
            <div class="graph">
              <%= image_tag('fake-graph.png', alt: "just mockin it up") %>
              <cite>&#126; 2.2 years</cite>
            </div>
            <%= image_tag('more.png', alt: "prompt", :class => "more-link") %>
          </a>
        </li>
      <% end %>
      <% unless @tests.oxygen.nil? %>
        <li class="dissolved-oxygen warning">
          <a href="#">
            <h3>Dissolved oxygen (mg/L)</h3>
            <div class="current">
              <h1><%= @tests.oxygen %></h1>
              <cite>4.12.2015</cite>
            </div>
            <div class="average">
              <h2>10</h2>
              <cite>average</cite>
            </div>
            <div class="graph">
              <%= image_tag('fake-graph.png', alt: "just mockin it up") %>
              <cite>&#126; 2.2 years</cite>
            </div>
            <%= image_tag('more.png', alt: "prompt", :class => "more-link") %>
          </a>
        </li>
      <% end %>
      <% unless @tests.nitri.nil? %>
        <li class="nitrites warning">
          <a href="#">
            <h3>nitrites (mg/L)</h3>
            <div class="current">
              <h1><%= @tests.nitri %></h1>
              <cite>4.12.2015</cite>
            </div>
            <div class="average">
              <h2>0.4</h2>
              <cite>average</cite>
            </div>
            <div class="graph">
              <%= image_tag('fake-graph.png', alt: "just mockin it up") %>
              <cite>&#126; 2.2 years</cite>
            </div>
            <%= image_tag('more.png', alt: "prompt", :class => "more-link") %>
          </a>
        </li>
      <% end %>
      <% unless @tests.nitrate.nil? %>
        <li class="nitrates warning">
          <a href="#">
            <h3>nitrates (mg/L)</h3>
            <div class="current">
              <h1><%= @tests.nitrate %></h1>
              <cite>4.12.2015</cite>
            </div>
            <div class="average">
              <h2>0.4</h2>
              <cite>average</cite>
            </div>
            <div class="graph">
              <%= image_tag('fake-graph.png', alt: "just mockin it up") %>
              <cite>&#126; 2.2 years</cite>
            </div>
            <%= image_tag('more.png', alt: "prompt", :class => "more-link") %>
          </a>
        </li>
      <% end %>
      <% unless @tests.ecoli.nil? %>
        <li class="ecoli warning">
          <a href="#">
            <h3>E-coli Fecal coliforms/100mL</h3>
            <div class="current">
              <h1><%= @tests.ecoli %></h1>
              <cite>4.12.2015</cite>
            </div>
            <div class="average">
              <h2>150</h2>
              <cite>average</cite>
            </div>
            <div class="graph">
              <%= image_tag('fake-graph.png', alt: "just mockin it up") %>
              <cite>&#126; 2.2 years</cite>
            </div>
            <%= image_tag('more.png', alt: "prompt", :class => "more-link") %>
          </a>
        </li>
      <% end %>
    </ul>
  </section>
  <% end %>
  
  <!--if statement should wrap this whole section to not display if there are no reports-->
  <section class="research">
    <h1>Research</h1>

    <ul>
      <li>
          <a href="#"> <!--links to details page-->
            <h3>Report title</h3>
            <cite>May 4 by Kat Kavanagh</cite>
          </a>

      </li>
      <li>
        <a href="#"> <!--links to details page-->
          <h3>Report title</h3>
          <cite>May 4 by Kat Kavanagh</cite>
        </a>

      </li>
    </ul>
  </section>

  <section class="add-more">
    <a class="button" href="#">Add to this observation</a>
    <!--this should bring you back to the form but with changing location attributes unavailable.  You will be adding to this observation point-->
    <cite>This will add data to this location</cite>
  </section>

<p><%= @observation.description %></p>
  <p>
    <strong>Comment:</strong>
    <%= @observation.comment %>
  </p>

  <p>
    <strong>Coordinates:</strong>
    <%= @observation.coordinates %>
  </p>

  <%= link_to 'Edit', edit_observation_path(@observation) %> |
  <%= link_to 'Back', observations_path %>

</div>

<p>
  <strong>Description:</strong>
  <%= @observation.description %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @observation.comment %>
</p>

<%= link_to 'Edit', edit_observation_path(@observation) %> |

