<p id="notice"><%= notice %></p>

<h1>Listing Ogrgeojsons</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Wkb geometry</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ogrgeojsons.each do |ogrgeojson| %>
      <tr>
        <td><%= ogrgeojson.name %></td>
        <td><%= ogrgeojson.wkb_geometry %></td>
        <td><%= link_to 'Show', ogrgeojson %></td>
        <td><%= link_to 'Edit', edit_ogrgeojson_path(ogrgeojson) %></td>
        <td><%= link_to 'Destroy', ogrgeojson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ogrgeojson', new_ogrgeojson_path %>
