<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ogrgeojson.name %>
</p>

<p>
  <strong>ID:</strong>
  <%= @ogrgeojson.id %>
</p>

<%= link_to 'Edit', edit_ogrgeojson_path(@ogrgeojson) %> |
<%= link_to 'Back', ogrgeojsons_path %>
