<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ogrgeojson.name %>
</p>

<p>
  <strong>Region Type:</strong>
  <%= @ogrgeojson.regtype %>
</p>

<%= link_to 'Edit', edit_ogrgeojson_path(@ogrgeojson) %> |
<%= link_to 'Back', ogrgeojsons_path %>
<br>
