<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <!--%= f.label :body %-->
    <%= f.text_area :body, :placeholder=>"Respond to this observation. It can be to offer clarification, or to add new observations at this location." %>
  </div>
  <div class="field">
    <%= f.hidden_field :observation_id %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit "Add", class: "button" %>
  </div>
<% end %>
