
<div class="image-background"></div>
<section class="about">
  <h1>Regions for <%= current_user.username %></h1>
<table>
  <thead>
    <tr>
      <th>Region Type</th>
      <th>Description</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @regions.each do |ogrgeojson| %>
      <tr id="<%= ogrgeojson.id %>">
        <td class="region_td"><%= regtype_text(ogrgeojson.regtype) %></td>
        <td class="desc_td"><%= ogrgeojson.name %>  </td>
        <td class="click<%= ogrgeojson.id %>",
        	<% if @active_regions.include?("#{ogrgeojson.id}") %>
        		style="display:none"
    		<% end %>
    	>
        <%= link_to 'Add This Region', add_region_user_path(:region_id => ogrgeojson.id) %> </td>
        <td class="click<%= ogrgeojson.id %>",
        	<% unless @active_regions.include?("#{ogrgeojson.id}") %>
        		style="display:none"
    		<% end %>
    	>
    	<%= link_to 'Remove This Region', remove_region_user_path(:region_id => ogrgeojson.id) %></td>
    	<script>
    		$(".click<%= ogrgeojson.id %>").click(function(){
    			$(".click<%= ogrgeojson.id %>").toggle();     
  			});
    	</script>
      </tr>
    <% end %>
  </tbody>
</table>

</section>
