<% provide(:title, "More") %>

<ul>
  <li><%= link_to("About", "") %></li>
  <% if current_user %>
    <li><%= link_to "Edit Profile", edit_user_path(current_user.id) %></li>
    <li><%= link_to "Logout", :logout, method: :post %>
  <% else %>
    <li><%= link_to "Register", new_user_path %></li>
    <li><%= link_to "Login", :login %></li>
  <% end %>
</ul>
