<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @study.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @study.author %>
</p>

<p>
  <strong>Abstract:</strong>
  <%= @study.abstract %>
</p>

<p>
  <strong>Url:</strong>
  <%= @study.url %>
</p>

<p>
  <strong>Observation:</strong>
  <%= @study.observation %>
</p>

<%= link_to 'Edit', edit_study_path(@study) %> |
<%= link_to 'Back', studies_path %>
