<p id="notice"><%= notice %></p>

<p>
  <strong>Image file name:</strong>
  <%= @photo.image_file_name %>
</p>

<p>
  <strong>Image content type:</strong>
  <%= @photo.image_content_type %>
</p>

<p>
  <strong>Image file size:</strong>
  <%= @photo.image_file_size %>
</p>

<p>
  <strong>Image updated at:</strong>
  <%= @photo.image_updated_at %>
</p>

<p>
  <strong>Observation:</strong>
  <%= @photo.observation %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
