<header class="app-header">
    
  <% if content_for?(:title) %>
    <h1><%= yield(:title) %></h1>
  <% else %>
    <h1>River Ranger</h1>
  <% end %>
    <a href="#" class="settings">Settings</a>
    <ul class="user-tasks">
    <% if current_user %>
      <li><%= link_to "My Profile", edit_user_path(current_user.id) %></li>

      <li><%= link_to "Logout", :logout, method: :post %>
    <% else %>
      <li><%= link_to "Register", new_user_path %></li>
      <li><%= link_to "Login", :login %></li>
    <% end %>
  </ul>
</header>