<footer class="app-footer">
  
  <nav>
    <ul>
      <li><%= link_to("Add", "") %></li>
      <li><%= link_to("Map", "") %></li>
      <li><%= image_tag("app-logo.png", :alt => "River Ranger") %></li>
      <li><%= link_to("News", "") %></li>
      <li><%= link_to("More", "") %></li>
    </ul>
  </nav>

</footer>