<footer class="app-footer">
  
  <nav>
    <ul>
      <li class="add"><%= active_link_to("Add", new_observation_path, :active => :exact) %></li>
      <li class="map"><%= active_link_to("Map", root_path, :active => :exact) %></li>
      <li class="logo"><%= link_to(image_tag('home-logo.png', alt: "River Ranger"), "#home-popup", class: 'inline-popup') %></li>
      <li class="news"><%= active_link_to("News", news_path, :active => :exact) %></li>
      <li class="more"><%= active_link_to("About", more_path, :active => :exact) %></li>
    </ul>
  </nav>

</footer>